<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<variable name="logDirectory" value="logs/" />
	<variable name="logCrashDirectory" value="crash-reports/" />
	<targets>
		<target xsi:type="File" name="logFile"
		        fileName="${logDirectory}/latest.log"
		        archiveFileName="${logDirectory}/log-{#}.log"
		        archiveNumbering="Date"
		        archiveDateFormat="yyyy-MM-dd-HH-mm-ss"
		        archiveEvery="Day"
		        archiveOldFileOnStartup="True"
		        encoding="utf-8">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" encode="false">
					<layout xsi:type="JsonLayout">
						<attribute name="type" layout="${exception:format=type}" />
						<attribute name="message" layout="${exception:format=message}" />
						<attribute name="stacktrace" layout="${exception:format=tostring}" />
					</layout>
				</attribute>
			</layout>
		</target>
		<target xsi:type="File" name="logCrashFile"
		        fileName="${logCrashDirectory}/crash-latest.txt"
		        archiveFileName="${logCrashDirectory}/crash-{#}.txt"
		        archiveNumbering="Date"
		        archiveDateFormat="yyyy-MM-dd-HH-mm-ss"
		        archiveEvery="Day"
		        archiveOldFileOnStartup="True"
		        encoding="utf-8"
		        layout="A crash occurred at ${longdate}${newline}${message}${newline}${exception:format=tostring}" />
		<target xsi:type="ColoredConsole" name="logConsole"
		        encoding="utf-8"
		        layout="${longdate}|${level:uppercase=true:padding=5}|[${logger}] ${message}${newline:when=exception!=null}${exception:format=tostring}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logFile" />
		<logger name="*" minlevel="Fatal" writeTo="logCrashFile" />
		<logger name="*" minlevel="Info" writeTo="logConsole" />
	</rules>
</nlog>